@tailwind base;
@tailwind components;
@tailwind utilities;

/* edu_nsw_act_foundation_1c0be069-module__FSkPZG__className */
/* nunito_3bf5173f-module__QjYhuG__className */
/* outfit_9f52d144-module__aRqVQW__className */
/* source_code_pro_54d47b2a-module__pcAarq__className */
/* arsenal_sc_4ec5a515-module__VO5U8q__className */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.cursor {
  position: absolute;
  bottom: 0;
  width: 2px;
  height: 20px;
  background-color: #00c6ff;
  transition: background-color 0.3s ease;
}

.cursor.hidden {
  opacity: 0;
}

.cursor.visible {
  opacity: 1;
}

.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#lights canvas {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  outline: none;
}

.oops {
  margin: 0;
  padding: 0;
  background-color: #0a1821;
  flex: 1;
  height: 100%;
  width: 100%;
  color: #fff;
  position: relative;
  text-align: center;

  & h1 {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
  }
}
.starry-sky {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.text-container {
  color: #fff;
  position: absolute;
  top: 25px;
  right: 10%;
  text-align: right;

  & .not-found {
    width: 560px;
    height: 225px;
    margin-right: -10px;
  }
}
/* change to alternating star opacities */
.all-stars {
  animation: blinkblink 7s linear infinite;
}
@keyframes blinkblink {
  50% { opacity: 0.1; }
}
/* @layer utilities {
  .arsenal_SC {
    font-family: 'Arsenal SC', 'Arsenal SC Fallback',;
  }
  .nunito {
    font-family: 'Nunito', 'Nunito Fallback';
  }
  .outfit {
    font-family: 'Source Code Pro', 'Source Code Pro Fallback';
  }
  .eduFont {
    font-family: 'Edu NSW ACT Foundation', 'Edu NSW ACT Foundation Fallback';
  }
  .codeFont {
    font-family: 'Source Code Pro', 'Source Code Pro Fallback';
  }
} */